---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.svelte';
import LiquidBackground from '../../components/LiquidBackground.svelte';
import PostList from '../../components/forum/PostList.svelte';
---

<Layout title="Library Discussion - SifterSearch">
  <LiquidBackground slot="background" client:only="svelte" />
  <NavBar client:load currentPage="community" />
  <div class="community-page">
    <PostList client:only="svelte" />
  </div>
</Layout>

<style>
  .community-page {
    min-height: 100vh;
    padding: 1rem;
    padding-top: 5rem; /* Space for navbar */
  }
</style>
