---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/common/NavBar.svelte';
import LiquidBackground from '../../components/LiquidBackground.svelte';
import PostDetail from '../../components/forum/PostDetail.svelte';
---

<Layout title="Discussion Post - SifterSearch">
  <LiquidBackground slot="background" client:only="svelte" />
  <NavBar client:load currentPage="community" />
  <div class="post-page">
    <PostDetail client:only="svelte" />
  </div>
</Layout>

<style>
  .post-page {
    min-height: 100vh;
    padding: 1rem;
    padding-top: 5rem; /* Space for navbar */
  }
</style>
