---
import Layout from '../../layouts/Layout.astro';
import LiquidBackground from '../../components/LiquidBackground.svelte';
import NavBar from '../../components/common/NavBar.svelte';
import SupportPage from '../../components/SupportPage.svelte';
---

<Layout title="Support SifterSearch">
  <LiquidBackground client:only="svelte" />
  <NavBar currentPage="support" client:load />
  <main class="support-container">
    <SupportPage client:only="svelte" />
  </main>
</Layout>

<style>
  .support-container {
    min-height: calc(100vh - 3.5rem);
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
  }
</style>
