---
import Layout from '../layouts/Layout.astro';
import LiquidBackground from '../components/LiquidBackground.svelte';
import NavBar from '../components/common/NavBar.svelte';
import ReferralDashboard from '../components/ReferralDashboard.svelte';
---

<Layout title="Referral Program">
  <LiquidBackground client:only="svelte" />
  <NavBar currentPage="referrals" client:load />
  <main class="referral-page">
    <ReferralDashboard client:only="svelte" />
  </main>
</Layout>

<style>
  .referral-page {
    min-height: calc(100vh - 3.5rem);
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
