---
import AdminLayout from '../../layouts/AdminLayout.astro';
import IslandSkeleton from '../../components/common/IslandSkeleton.astro';
import DocumentEditor from '../../components/admin/DocumentEditor.svelte';
---

<AdminLayout title="Edit Document">
  <div class="edit-page">
    <DocumentEditor client:only="svelte"><IslandSkeleton slot="fallback" /></DocumentEditor>
  </div>
</AdminLayout>

<style>
  .edit-page {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
  }
</style>
